In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
from mysql_con import *

CREATE CONNECTION TO DATABASE

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db)
        print("MySQL database connection successfull")
    except Error as err:
        print(f"Error: {err}")
    return connection

# definisi parameter
user = "root"
pw = "Ank218258#"
db = "lib_management_sys"


connection = create_db_connection("localhost", user, pw, db)

FUNGSI untuk execute query

In [ ]:
def execute_query(connection, query,value):
    cursor = connection.cursor()
    try:
        cursor.execute(query,value)       
        connection.commit()
        print("Query berhasil dieksekusi")
        print("==========================")
        print("Data entered successfully")
        print("==========================")
    except Error as err:
        print(f"Error: {err}")

FUNGSI untuk menu Tampilkan tabel

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return pd.DataFrame(result)
    except Error as err:
        print(f"Error: {err}")

FUNGSI untuk menu Cari buku

In [ ]:
def cari_buku (connection, query):
    cursor = connection.cursor()

In [1]:
print ('----------------.LIBRARY MANAGEMENT----------------\
        \n1. Pendaftaran User Baru \n2. Pendaftaran Buku Baru \n3. Peminjaman\
        \n4. Tampilkan Daftar Buku \n5. Tampilkan Daftar User \n6. Tampilkan Daftar Peminjaman\
        \n7. Cari Buku \n8. Pengembalian \n9. Exit')

----------------.LIBRARY MANAGEMENT----------------
1. Pendaftaran User Baru
2. Pendaftaran Buku Baru
3. Peminjaman
4. Tampilkan Daftar Buku
5. Tampilkan Daftar User
6. Tampilkan Daftar Peminjaman
7. Cari Buku
8. Pengembalian
9. Exit

In [ ]:
nomor_tugas = 0
nomor_tugas = int(input ('Masukkan Nomor Tugas : '))
id_user = 0
id_buku = 0
    
while nomor_tugas > 0 : 
    # Untuk menu pendaftaran user baru
    if (nomor_tugas == 1) :
        print ("==================================")
        nama = str(input("Masukkan nama user : "))
        tanggal_lahir= str(input("Masukkan tanggal lahir (YYYY-MM-DD) : "))
        pekerjaan = str(input("Pekerjaan : "))
        alamat = str(input("Masukkan Alamat : "))
        
        query_insert_data = """
            INSERT INTO user_baru (id_user, nama_user, tanggal_lahir, pekerjaan, alamat) VALUES(%s, %s, %s, %s, %s) 
        """
        value = (str(id_user), nama, tanggal_lahir, pekerjaan, alamat)
        execute_query (connection,query_insert_data,value)
        print ("==================================")
        
    #untuk menu pendaftaran buku baru
    elif (nomor_tugas == 2) :
        print ("==================================")
        id_buku = str(input("Masukkan kode buku : "))
        judul = str(input("Masukkan judul buku : "))
        kategori = str(input("Kategori buku : "))
        stok = str(input("Stok buku : "))

        
        query_insert_data = """
            INSERT INTO user_baru (id_buku, judul, kategori, stok ) VALUES(%s, %s, %s, %s) 
        """
        value = (id_buku, judul, kategori, stok)
        execute_query (connection,query_insert_data,value)
        print ("==================================")
        
    #untuk menu peminjaman
    elif (nomor_tugas == 3) :
        print ("==================================")
        id_user = str(input("Masukkan id peminjam : "))
        id_buku = str(input("Masukkan kode buku : "))
        nama = str(input("Masukkan nama peminjam : "))
        judul = str(input("Masukkan judul buku : "))   
        print ("==================================")  
        
    #untuk menu daftar buku   
    elif (nomor_tugas == 4) :
        print ("==================================")
        execute('SELECT * FROM buku_baru')
        cursor.fetchall()
        read_query(connection, query)
        print ("==================================")
        
    #untuk menu daftar user
    elif (nomor_tugas == 5) :
        print ("==================================")
        execute('SELECT * FROM user_baru')
        cursor.fetchall()
        read_query(connection, query)
        print ("==================================")
    
    #untuk menu daftar peminjaman
    elif (nomor_tugas == 6) :
        print ("==================================")
        execute('SELECT * FROM peminjaman')
        cursor.fetchall()
        read_query(connection, query)
        print ("==================================")
        
        
    elif (nomor_tugas == 7) :
        print ("==================================")
        
        print ("==================================")
        
    #untuk menu pengembalian
    elif (nomor_tugas == 8) :
        print ("==================================")
        id_user = str(input("Masukkan id peminjam : "))
        id_buku = str(input("Masukkan kode buku : "))
        print ("==================================")
        
    elif (nomor_tugas == 9) :
        print ("Selamat tinggal")
        cursor.close()
        break
    else : 
        print ("Nomor tugas yang anda masukkan salah")
        break
    id_user += 1   
    id_buku += 1
    nomor_tugas = int(input ('\nMasukkan Nomor Tugas : '))